<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>成功案例</title>
<title>heder_nav-menu</title>
<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
<link rel="stylesheet" type="text/css" href="static/css/common.css" />
<link rel="stylesheet" type="text/css" href="static/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="static/css/successful_case.css"/>
</head>

<body>
{{include 'default/header.html'}}
<div id="header_nav-wrapper">
    <div class="header_nav">
    	<h2>成功案例 &#160; <span>让品牌与您同在</span></h2>


    </div>



</div>

<div id="header_title-wrapper">

    <div class="header_title clear">
        <p >
        <a href="#">服务行业</a>
        <a href="#">教育行业</a>
        <a href="#">房地产业</a>
        <a href="#" style="margin-right:20px;">能源行业</a>

        </p>
    </div>


</div>


<div id="main_wrapper">


    <div class="main">
	    <ul class="clear">

		    <li>

		    		<a href="#"><img src="static/images/successful_case/main_image1.jpg" /></a>

		    		<p>新部委整合职责相继挂牌 近日都有哪些新动</p>


		    </li>
		    <li>

		    	<a href="#"><img src="static/images/successful_case/main_image2.jpg" /></a>

		    	<p>新部委整合职责相继挂牌 近日都有哪些新动</p>

		    </li>
		    <li>

		    	<a href="#" style=" margin-right:0;"><img src="static/images/successful_case/main_image3.jpg" /></a>
		    	<p>新部委整合职责相继挂牌 近日都有哪些新动</p>

		    </li>
		    <li>
		    	<a href="#"><img src="static/images/successful_case/main_image4.jpg" /></a>
		    	<p>新部委整合职责相继挂牌 近日都有哪些新动</p>
		    </li>
		     <li>
		    	<a href="#"><img src="static/images/successful_case/main_image4.jpg" /></a>
		    	<p>新部委整合职责相继挂牌 近日都有哪些新动</p>
		    </li>
		     <li>
		    	<a href="#"><img src="static/images/successful_case/main_image4.jpg" /></a>
		    	<p>新部委整合职责相继挂牌 近日都有哪些新动</p>
		    </li>
		     <li>
		    	<a href="#"><img src="static/images/successful_case/main_image4.jpg" /></a>
		    	<p>新部委整合职责相继挂牌 近日都有哪些新动</p>
		    </li>
		     <li>
		    	<a href="#"><img src="static/images/successful_case/main_image4.jpg" /></a>
		    	<p>新部委整合职责相继挂牌 近日都有哪些新动</p>
		    </li>


	    </ul>


    </div>




</div>



{{include 'default/footer.html'}}





</body>
</html>
